.pageFooter{
    background-color: #120b1a;
    height: flex;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: relative;
    width: 100vw;
  }

  .address{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
  }
  .contactInfo{
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
  }
  .middle{
    display: flex;
    flex-direction: column;
  }
  .selfLink{
    font-size: small;
    color: rgb(100,100,100)
  }
  .mailingTitle{
    font-size: large;
  }