
.scrolled {
    background: linear-gradient(to right, #120b1a 0%, #120b1a 90%, rgb(204, 46, 191) 90%, rgb(204, 46, 191) 100%);
    box-shadow: 0px 2px 10px black;
  }
  .important{
    background-color: rgb(204, 46, 191);
    justify-self: right;
    width: fit-content;
  }

  .scrolledMobile{
      background: #120b1a;
      box-shadow: 0px 2px 10px black;
  }
    
  .menu{
    display: flex;
    flex-direction: column;
    background-color: #120b1a;
    justify-content: space-between;
    padding: 2vw;
    width: 45vw;
    height: 30vh;
    font-size: 18px;;
  }