.aboutBlock{
    min-height: 100vh;
    position: relative;
    margin-top: 8vh;
    justify-content: center;
}
.aboutHead{
    text-align: center;
    font-size: 60px;
}
.missionHead{
    text-align: center;
    font-size: 50px;
}

.aboutPar{
    text-align: center;
    margin:5vw;
}