.aboutBlock{
    min-height: 100vh;
    position: relative;
    margin-top: 8vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.aboutHead{
    text-align: center;
    font-size: 60px;
}
.missionHead{
    text-align: center;
    font-size: 50px;
}
.aboutInfo{
    align-items: left;
    background-color: rgba(0,0,0,0.7);
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.aboutPar{
    text-align: left;
    margin:5vw;
    font-size: 20px;
}