.page{
    height: 100vh;
    width: 100vw;
    background-color: rgb(20,20,20); 
}
.spacer{
    background-color: rgb(20,20,20); 
    margin-top: -8vh;
    height: 20vh;
}
.privacy-policy-container {
    max-width: 100vw;
    color:white;
    background-color: rgb(20,20,20); 
  }
  
  .privacy-policy-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .privacy-policy-container h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .privacy-policy-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  