.supportBlock{
    min-height: 100vh;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    }
    .contactBlock{
    min-height: 100vh;
    position: relative;
    background-color: pink;
    }
    .supportDiv{
    position: relative;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    }
    .supportHeader{
    display: flex;
    align-self: center;
    }
    .supportInfoHeader{
    display: flex;
    align-self: center;
    }
    .supportInfo{
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    width: 45vw;
    position: relative;
    background-color: blue;
    border-color: black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    }