.supportBlock{
    min-height: 100vh;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    }
    .contactBlock{
    min-height: 100vh;
    position: relative;
    }
    .supportDiv{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }
    .supportHeader{
    display: flex;
    align-self: center;
    margin-top: 8vh;
    }
    .supportInfoHeader{
    display: flex;
    align-self: center;
    }
    .supportInfo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    height: flex;
    width: flex;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    }
    .supportInfo p{
        width: 80vw;
    }
    .tierHeader{
        display: flex;
        align-self: center;
        text-align: center;
    }
    .tiers{
        width: 35vw;
        height: 45vh;
        align-self: center;
    }
    .tiers:hover{
        box-shadow: 0px 0px 12px rgb(196, 59, 196);
    }
    .donationTiers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    .tierInfo{
        width: 35vw;
        height: 25vh;
        align-self: center;
        justify-content: center;
        background-color: black;
        margin-bottom: 4vh;
        display: flex;
        flex-direction: column;
    }
    .tierLabel{
        font-style: oblique;
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-self: center;
        align-self: center;
    }
    .top{
        margin: 3vw;
      }
    .bottom{
        margin: 3vw;
    }
    .SupportText{
        display: flex;
        align-self: center;
        font-size: 20px;
        flex-direction: column;
    }

    .supportInfo ul{
        width: 80vw;
    }

    .listText{
        flex: 1;
        overflow: auto;
    }

    @media screen and (max-width: 1023px) {
        .donationTiers{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 6vw;
            margin-right: 6vw;
        }
        .tiers{
            width: 90vw;
            height: 35vh;
            align-self: center;
            display: flex;
        }
        .tiers:hover{
            box-shadow: 0px 0px 12px rgb(196, 59, 196);
        }
        .tierInfo{
            width: 90vw;
            height: 25vh;
            align-self: center;
            justify-content: center;
            background-color: black;
            font-size: x-large;
            margin-bottom: 4vh;
            display: flex;
            flex-direction: column;
        }
        .tierLabel{
            font-style: oblique;
            font-size: 20px;
            display: flex;
            text-align: center;
            justify-self: center;
            align-self: center;
        }
    }