.supportBlock{
    min-height: 100vh;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    }
    .contactBlock{
    min-height: 100vh;
    position: relative;
    }
    .supportDiv{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }
    .supportHeader{
    display: flex;
    align-self: center;
    margin-top: 8vh;
    }
    .supportInfoHeader{
    display: flex;
    align-self: center;
    }
    .supportInfo{
    margin-left: auto;
    margin-right: auto;
    height: flex;
    width: flex;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    }
    .tierHeader{
        display: flex;
        align-self: center;
        text-align: center;
    }
    .tiers{
        width: 35vw;
        height: 45vh;
        align-self: center;
    }
    .donationTiers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tierInfo{
        width: 35vw;
        height: 25vh;
        align-self: center;
        justify-content: center;
        background-color: black;
        margin-bottom: 4vh;
        display: flex;
        flex-direction: column;
    }
    .tierLabel{
        font-style: oblique;
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-self: center;
        align-self: center;
    }
    .top{
        margin: 3vw;
      }
    .bottom{
        margin: 3vw;
    }